<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/registro-styles.css">
    <script src="https://kit.fontawesome.com/641c03bd1a.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/641c03bd1a.js" crossorigin="anonymous"></script>
    <title>MercadoLiebre</title>
</head>

<body>
    <header class="main-header">
        <div class="top-bar">
            <div class="logo">
                <img src="/img/logo-mercado-liebre.svg">
            </div>
            <form class="search-bar" action="" method="">
                <div class="input-search"> <input type="text" name="nombrecompleto"
                        placeholder="Buscar productos, marcas"></div>
                <div class="lupa"> <button type="submit"><i id="search" class="fas fa-search"></i></button></div>
            </form>


            <div class="cuotas">
                <h4><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h4>
            </div>
        </div>

        <nav class="bottom-bar">
            <section>
                <ul class="bottom-menu">
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
            </section>

            <section class="login-bar">
                <ul class="login-menu">
                    <a href="/registro">
                        <li>Creá tu cuenta<i class="fas fa-id-card"></i></li>
                    </a>
                    <a href="/login">
                        <li>Ingresá<i class="fas fa-sign-in-alt"></i></li>
                    </a>
                    <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
                </ul>
            </section>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <form class="form-container" action="/" method="get">
        <div class="nombre-apellido">
            <label for="name">Nombre y apellido</label>
            <input type="text" name="name" id="name" value="">
        </div>
        <div class="username-container">
            <label for="user">Nombre de usuario</label>
            <input type="text" name="user" id="user" value="">
        </div>
        <div class="birthday-container">
            <label for="fecha-nacimiento">Fecha de nacimiento</label>
            <input type="date" name="fecha-nacimiento" id="birthday" value="">
        </div>
        <div class="adress-container">
            <label for="domicilio">Domicilio</label>
            <input type="text" name="domicilio" id="domicilio" value="">
        </div>
        <div class="profile-container">
            <label class="compra-venta" for="perfil-usuario">¿Sos comprador o vendedor?</label>
            <div class="label-profile-option">
                <label class=label-profile><input type="radio" name="perfil-usuario" value="buyer"> Comprador</label>
                <label class=label-profile><input type="radio" name="perfil-usuario" value="seller"> Vendedor</label>
            </div>
        </div>
        <div class="interest-container">
            <label for="categorias-interes">Categorías de interés</label>
            <div class="categorias-interes-label">
                <label class=label-interest><input type="checkbox" name="categorias-interes"
                        value="electro">Electro</label>
                <label class=label-interest><input type="checkbox" name="categorias-interes" value="moda">Moda</label>
                <label class=label-interest><input type="checkbox" name="categorias-interes" value="hogar">Hogar</label>
                <label class=label-interest><input type="checkbox" name="categorias-interes"
                        value="jugueteria">Juguetería</label>
                <label class=label-interest><input type="checkbox" name="categorias-interes" value="vida sana">Vida
                    sana</label>
            </div>
        </div>
        <div class="photo-container">
            <label for="foto">Elegí una foto de perfil</label>
            <input type="file" accept="jpg, png">
        </div>
        <div class="password-container">
            <label for="contraseña">Contraseña</label>
            <input type="password" name="contraseña" id="contraseña">
        </div>
        <div class="re-password-container">
            <label for="recontraseña">Confirmar contraseña</label>
            <input type="password" name="recontraseña" id="recontraseña">
        </div>
        <div class="button-container">
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
        </div>
    </form>
    <footer>
        <div class="footer-container">
            <div class="footer-credit-card">
                <i class="far fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </div>
            <div class="footer-gift">
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio
                    de
                    MercadoPuntos.</p>
            </div>
            <div class="footer-security">
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
            <div class="copyright">
                <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </div>
        </div>
    </footer>
</body>