<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login-styles.css">

    <script src="https://kit.fontawesome.com/641c03bd1a.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/641c03bd1a.js" crossorigin="anonymous"></script>
    <title>MercadoLiebre</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <main>
            <form class="form-container" action="/" method="get">
                <label name="usuario">Nombre de usuario</label>
                <input type="text" name="usuario" id="usuario">
                <label name="contrase単a">Contrase単a</label>
                <input type="password" name="contrase単a" id="contrase単a">
                <button type="submit">Enviar</button>
            </form>
        </main>
        <%- include('partials/footer.ejs') %>

</body>