<header class="main-header">
    <div class="top-bar">
        <div class="logo">
            <img src="/img/logo-mercado-liebre.svg">
        </div>
        <form class="search-bar" action="" method="">
            <div class="input-search"> <input type="text" name="nombrecompleto"
                    placeholder="Buscar productos, marcas"></div>
            <div class="lupa"> <button type="submit"><i id="search" class="fas fa-search"></i></button></div>
        </form>


        <div class="cuotas">
            <h4><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h4>
        </div>
    </div>

    <nav class="bottom-bar">
        <section>
            <ul class="bottom-menu">
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
        </section>

        <section class="login-bar">
            <ul class="login-menu">
                <a href="/registro">
                    <li>Creá tu cuenta<i class="fas fa-id-card"></i></li>
                </a>
                <a href="/login">
                    <li>Ingresá<i class="fas fa-sign-in-alt"></i></li>
                </a>
                <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
            </ul>
        </section>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>

</header>